* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1b2a;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #0d1b2a;
    transition: 0.5s ;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
}

.container__logo img {
    width: 50px;
    margin-left: 50px;
}

.container button {
    background: none;
    color: #fff;
    border: none;
    display: none;

}

.container button i {
    font-size: 25px;
}

.container__options {
    margin-right: 50px;
}

.container__options ul {
    display: flex;
}

.container__options ul li {
    padding: 20px;
    list-style: none;  
}

.container__options ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.5s; 
    cursor: pointer;
}

.container__options ul li a:hover{
    color: #02c39a;
}

.redes {
    position: fixed;
    margin-left: 25px;
    width: 100px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.redes i {
    color: #e9ecef;
    font-size: 20px;
    padding: 15px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.redes i:hover{
    color: #02c39a;
    transform: scale(1.5);
}

.main_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.main_container__text {
    color: #e9ecef;
    width: 40rem;
}

.main_container__text p:first-child {
    font-size: 1.5rem;
    color:#02c39a ;
}

.main_container__text p:nth-of-type(2) {
    font-size: 3.5rem;
    font-weight: bold;
}

.main_container__text p:last-child{
    margin-top: 10px;
    font-size: 1.2rem;
}

.main_container__text span {
    font-size: 20px;
    color: #02c39a;
}

.main_container img {
    width: 25rem;
    transition: 1s;
}

.main_container img:hover {
    transform: scale(1.1);
}


@media (max-width:1600px) {
    .main_container p:first-child {
        font-size: 1.2rem;
    }

    .main_container p:nth-of-type(2) {
        font-size: 3rem;
    }

    .main_container {
        justify-content: space-between;
        margin: 0px 13rem;
    }

    .main_container__text p:last-child{
        margin-right: 10rem;
    }
}

@media (max-width:1400px) {
    .main_container {
        margin: 0px 10rem;
    }

    .main_container__text p:last-child{
        margin-right: 5rem;
    }

    .main_container__text p:nth-of-type(2) {
        font-size: 3.5rem;
    }
}

@media (max-width:1172px) {
    .main_container {
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .main_container img {
        width: 20rem;
        margin-top: 50px;
    }

    .main_container__text {
        text-align: center;
        margin-top: 50px;
    }

    .redes {
        justify-content: center;
    }

    .redes i {
        font-size: 25px;
    }
}


